@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700;900&display=swap');

:root {
	--color-blue: #73a4d1;
	--color-red: #de7069;
	--color-yellow: #efc688;
	--color-green: #8fd88d;
	--color-white: #fff;
	
	font-size: 8px;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	color: var(--color-white);
}

body {
	background-color: var(--color-blue);
	display: flex;
	justify-content: center;
}


@media (min-width: 500px) {
	:root {
		font-size: 10px;
	}
}